<div id="chartTodos" class="chart-bar" *ngIf="checkStatistisc()">
  <div class="chart">
    <div *ngFor="let data of getData()"
      [ngClass]="['element', data.style]"
      [ngStyle]="{'width.%': data.percent}"
      (mouseover)="onMouseOver($event, data)">
      <span>{{ data.count }}</span>
    </div>
  </div>
  <ul class="note">
    <li *ngFor="let data of getData()" class="item">
      <span [ngClass]="['icon', data.style]"></span>
      <span class="title">{{ data.title | titlecase }}</span>
    </li>
  </ul>

  <div class="popup_chart" *ngIf="currentStatistic" [ngStyle]="{'top.px': popup.top, 'left.px': popup.left, 'display': display}">
    <div class="item">
      <span [ngClass]="['icon', currentStatistic.style]"></span>
      <span class="title">{{ currentStatistic.percent }}% {{ currentStatistic.title | titlecase }}</span>
    </div>
  </div>

</div>